body {
	background-color: #C6C6C6;
	background-image: url(fundo_dylan.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

H1 {
	font-family: "Trebuchet MS";
	color: #FFF;
	margin-left: 440px;
}

p {
	font-family: verdana;
	font-size: 12px;
	margin-left: 440px;
	line-height: 1.5;
}