form {
    margin: 20px auto;
    width: 700px;
    background-color: rgb(240, 250, 241);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(41, 169, 41);   
}

#geral, #geral2 {
    padding: 20px 20px;
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

#geral {
    background-image: url("profissao.jpg");
    
}

#geral2 {
    background-image: url("localizacao.jpg");
    padding: 19px 20px;
}

#etaria {
    background-image: url("etaria.jpg");
}

#esp {
    background-image: url("esporte.jpg");
}

#Comentario {
    background-image: url("comentario.jpg");
    background-repeat: no-repeat;
    background-position: 95%;
}

#etaria, #esp {
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
}

legend, fieldset {
    border-style: solid;
    border-color: rgb(194, 243, 194);
}

legend {
    background-color: white;
    font-weight: bold;
}

form, input, textarea {
    border-style: solid;
    border-color: rgb(41, 169, 41);
}

input[type="text"], select {
    width: 90%;
}

textarea {
    width: 60%;
}

#L1, #L2, #L3 {
    margin-bottom: 10px
}

#lado {
    padding-left: 70px;
}

.T1 {
    float: left;
}

.T2 {
    border-style: none;
}

.Cadastro_Geral, #Comentario {
    margin-bottom: 15px;
}

#L1 {
    display: flex;
    align-content: center;
}
